
@import '../components/slideshow';
  
  /* Position the image container (needed to position the left and right arrows) */
  .slideshow-gallery-container {
    position: relative;
    @include full-page-hide-or-not;
    @include respond-to('large'){
      @include full-page-hide-or-not(1,visible,block);
    }
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }

  .slideshow-gallery{
    overflow: hidden;
    border-radius: 20px;
  }
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  .thumbnail-gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 32px;
    margin-top: 30px;
  }
  
  /* Six columns side by side */
  .thumbnail {
    width: 88px;
    height: 88px;
    border-radius: 20px;
    overflow: hidden;
    background-color: $white;
    &.selected
    {
      border: 2px solid $orange;
      .demo{
        opacity: 0.2;
      }
    }
  }
  .demo{
  &:hover{
    opacity: 0.4;
  }
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: hsl(0, 0%, 0%,0.6);
}

/* Modal Content */
.modal-content {
  position: relative;
  top: 50px;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 523px;
  
  
}

/* The Close Button */
.close {
  position: absolute;
  top: -32px;
  right: 25px;
  fill: $white;
  &:hover{
    cursor: pointer;
    fill: $orange;
  }
}

/* Hide the slides by default */
.modal-image {

  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
  user-select: none;
}

/* Next & previous buttons */
.prev-modal-image,
.next-modal-image {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 12px 20px 10px 15px;
  stroke: $black;
  transition: 0.2s ease;
  border-radius: 50%;
  user-select: none;
  -webkit-user-select: none;
  border: none;
  &:hover{
    stroke: $orange;
  }
}

/* Position the "next button" to the right */
.next-modal-image {
  right: 0;
  padding: 12px 15px 10px 18px;
}
.prev-modal-image{
  left: -20px;
}
/* On hover, add a black background color with a little bit see-through */
.modal-thumbnail{
  border-radius: 20px;
  overflow: hidden;
  background-color: $white;
  &.selected
  {
    border: 2px solid $orange;
    .demo{
      opacity: 0.2;
    }
  }
}

.thumbnail-modal-gallery{
  padding: 0px 50px 0px 30px;
  
}
.show{
  display: block;
}