
  .description-product-add-product-btn{
    @include flex-center($flex-direction: row, $flex-style: centerBoth); 
    @include width-height($height: 50px);
    @include background-color($orange,$white);
    gap: 15px;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-weight: $font-weight-700;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: -1px 26px 63px -17px rgba(255,125,26,1);

    &:hover{
      opacity: 0.7;
    }
    &.disabled{
      cursor: not-allowed;
      opacity: 0.5;
    }
    img{
     @include width-height($width: 18px, $height: 18px);
    }
    @include respond-to('large'){
      margin-top: 0;
    }
  }