/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  @include width-height;
  overflow: auto;
  background-color: hsl(0, 0%, 0%,0.6);
}
.modal-content {
  position: relative;
  top: 50px;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 523px;
}
.close {
  position: absolute;
  top: -32px;
  right: 25px;
  fill: $white;
  &:hover{
    cursor: pointer;
    fill: $orange;
  }
}

.modal-image {
  @include width-height(500px,500px);
  overflow: hidden;
  border-radius: 20px;
  user-select: none;
}

.prev-modal-image,
.next-modal-image {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 12px 20px 10px 15px;
  stroke: $black;
  transition: 0.2s ease;
  border-radius: 50%;
  user-select: none;
  -webkit-user-select: none;
  border: none;
  &:hover{
    stroke: $orange;
  }
}
  .next-modal-image {
  right: 0;
  padding: 12px 15px 10px 18px;
}
.prev-modal-image{
  left: -20px;
}
.modal-thumbnail{
  border-radius: 20px;
  overflow: hidden;
  background-color: $white;
  &.selected
  {
    border: 2px solid $orange;
    .demo{
      opacity: 0.2;
    }
  }
}
.thumbnail-modal-gallery{
  padding: 0px 50px 0px 30px;
  
}
.show{
  display: block;
}