.header-user-cart-products-div{
    box-shadow: 0px 15px 36px -10px rgba(29,32,37,0.4);
    position: absolute;
    max-width: 350px;
    width: 100%;
    background-color: $white;
    z-index: 999;
    border-radius: 10px;
    top: 10%;
    right: 12px;
    @include respond-to('large'){
        left: 62%;
        top: 11%;
      }
}
.header-user-cart-products-div-header{
    display: grid;
    grid-template-columns: 1.9fr 0.1fr;
    align-items: center;
    border-bottom: 1px solid hsl(0, 0%, 89%);
    margin-bottom: 20px;
    font-weight: bold;
    padding: 20px;
    svg{
        fill: #69707D;
        &:hover{
            fill: $orange;
        }
    }
}
.header-user-cart-products-description-default{
    font-weight: $font-weight-700;
    text-align: center;
    height: 200px;
    padding-top: 80px;
}
.header-user-cart-products-description{
    padding: 0px 20px 20px 20px;
    color: $dark-grayish-blue;
}
.header-user-cart-products-description-price{
    strong{
        color: $very-dark-blue;
    }
}
.header-user-cart-products-description-total{
    font-weight: bold;
    color: $very-dark-blue;
}
.header-user-cart-products-description-grid{
    display: grid;
    grid-template-columns: 0.4fr 2.5fr 0.1fr;
    column-gap: 13px;
    align-items: center;
    margin-bottom: 20px;
    img{
        overflow: hidden;
        border-radius: 4px;
    }
    svg{
        fill: hsl(221, 22%, 81%);
        &:hover{
            fill: $orange;
            cursor: pointer;
        }
    }
}
.header-user-cart-products-btn{
    @include width-height($height: 50px);
    @include background-color;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    &:hover{
        opacity: 0.7;
        cursor: pointer;
    }
}